<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace表示命名空间 -->
<mapper namespace="com.javaee.mybatis.dynamicsql.mapper.StudentMapper">

<!--    使用where和if标签-->
    <select id="findStudentSelective" resultType="Student">
         select * from  student 
         <where>
             <if test="studentNo!= null and studentNo!='' ">
                 student_no like Concat('%', #{studentNo}, '%')
             </if>
             <if test="name != null and name != ''">
                 AND name like Concat('%' #{name}, '%')
             </if>
             <if test="sex !=null and sex!=''">
                 AND sex = #{sex}
             </if>
         </where>
    </select>

<!--    批量插入-->
    <insert id="batchInsert" resultType="Integer">
        insert into student(student_no, name, home_address, class_no, sex, birthday, enroll_time)  VALUES
        <foreach collection="studentList" item="s" index="index" separator=",">
            #{s.studentNo}, #{s.name}, #{s.homeAddress}, #{s.classNO}, #{s.sex}, #{s.birthday}, #{s.enrollTime}
        </foreach>
    </insert>
</mapper>
