<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace表示命名空间 -->
<mapper namespace="com.javaee.ticketsys.mapper.UserRoleMapper">

<!--    批量删除用户对应对角色关系-->
    <delete id="deleteBatchUserRole" parameterType="List">
        delete from user_role WHERE user_id IN
        <foreach collection="array" item="userId" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </delete>
</mapper>
