<div class="container">
    <form id="addUserForm" novalidate="novalidate" method="post" th:action="@{/users}">
        <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" class="form-control" id="username" placeholder="不能为空,至少三个字符"
                   required="required">
            <div class="invalid-feedback">用户名至少3个字符以上!</div>
        </div>

        <div class="form-group">
            <label for="role" class="control-label">用户类型</label>
            <select id="role" class="custom-select" name="role">
                <option value="ROLE_common" selected>普通用户</option>
                <option value="ROLE_admin">管理员</option>
            </select>
        </div>

        <div class="form-group">
            <label for="email">email地址</label>
            <input type="email" class="form-control" id="email" placeholder="输入合法的Email地址"
                   required="required">
            <div class="invalid-feedback">电子邮箱的格式不正确!</div>
        </div>
    </form>
</div>

<script>
    $(function () {
        checkForm();
    })

</script>

