<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<container>
    <ul class="list-unstyled" th:object="${user}">
        <li>用户名：<span th:text="*{username}"> </span>
        </li>
        <li>用户角色：
            <!--      判断是否为空-->
            <span th:if="*{roles==null}">
                <span th:text="角色未知"></span>
            </span>
            <span th:each="role : *{roles}" th:text="${commons.getRoleZhName(role)}"></span>
        </li>
        <li>注册时间： <span th:text="${#dates.format(user.createTime,'yyyy年MM月dd日HH:mm:ss')}">  </span>
        </li>
        <li>注册IP地址：<span th:text="*{registerIp}">  </span>
        </li>
        <li>Email地址：<span th:text="*{email}"> </span></li>
        <li> 用户状态：<span th:text="*{enable==1 ?'激活':'未激活'}">  </span>
        </li>
        <li>更新时间：<span th:text="${#dates.format(user.updateTime,'yyyy年MM月dd日HH:mm:ss')}"> </span>
        </li>
    </ul>
</container>
