<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">

    <!-- CSRF -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap4/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap4/assets/fonts/font-awesome.min.css}"/>
    <link rel="stylesheet" href="../../static/bootstrap4/assets/toastr/toastr.min.css"
          th:href="@{/bootstrap4/assets/toastr/toastr.min.css}"/>
    <link rel="stylesheet" th:href="@{/site/css/mysite.css}"/>
    <!--    加载metisMenu所用样式-->
    <link rel="stylesheet" th:href="@{/bootstrap4/assets/metismenu/metisMenu.min.css}"/>
    <link rel="stylesheet" th:href="@{/site/css/mm-vertical.css}"/>
    <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
<!--    <link rel="icon" href="/static/ico/favicon.ico">"-->
</head>
<body>
<!--导航栏-->
<header class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:fragment="header">
    <a class="navbar-brand" href="#">领航票据管理系统</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">主页 <span class="sr-only">
                    (current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">链接1</a>
            </li>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text"
                       placeholder="查询关键词"
                       aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0"
                        type="submit">搜索
                </button>
            </form>
        </ul>
        <a href="#" class="btn btn-outline-success my-2 my-sm-0"
           style="margin-right: 5px"
           type="submit">登录</a> <a href="#"
                                   class="btn btn-outline-success my-2 my-sm-0"
                                   type="submit">注册</a>
    </div>
</header>

<!--//导航栏-->
<!--页面主体-->
<main class="container-fluid main">
    <div class="row">
        <!--    侧边导航栏-->
        <aside class="col-md-2 my-aside" th:fragment="side_menu">
            <nav class="sidebar-nav">
                <ul id="menu">
                    <li class="">
                        <a href="#" aria-expanded="false">
                            <i class="fa fa-home fa-fw fa-lg"></i>主页</a>
                    </li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false">
                            <i class="fa fa-ticket fa-fw fa-lg"></i>票据管理</a>
                        <ul>
                            <li><a href="#">添加票据</a></li>
                            <li><a href="#">票据列表</a></li>
                            <li><a href="#">票据查询</a></li>
                        </ul>
                    </li>
                    <li >
                        <a class="has-arrow" href="#" aria-expanded="false">
                            <i class="fa fa-ticket fa-fw fa-lg"></i>用户管理</a>
                        <ul>
                            <li class="mm-active"><a href="#">用户列表</a></li>
                            <li><a href="#">权限管理</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>
        <div class="col-md-10">
<!--            页面主要内容-->
        </div>
    </div>
</main>
<!//- 页脚--->
<footer class="footer mt-auto py-3" th:fragment="footer">
    <div class="text-center">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
<!--    <script th:src="@{/bootstrap4/js/jquery.min.js}"-->
<!--            src="../../static/bootstrap4/js/jquery.min.js"></script>-->

<!--    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
    <script th:src="@{/bootstrap4/js/jquery-3.3.1.min.js}"
            src="../../static/bootstrap4/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script th:src="@{/bootstrap4/js/bootstrap.min.js}"></script>

<!--    <script th:src="@{/bootstrap4/js/bootstrap.bundle.min.js}"></script>-->
    <script th:src="@{/bootstrap4/assets/toastr/toastr.min.js}"></script>
    <script th:src="@{/bootstrap4/assets/metismenu/metisMenu.js}"></script>
    <script th:src="@{/site/js/utils.js}"></script>
<!--    引入bootstrap table的js文件-->
    <script th:src="@{/bootstrap4/assets/bootstrap-table-1.16/bootstrap-table.min.js}"></script>
    <script th:src="@{/bootstrap4/assets/bootstrap-table-1.16/bootstrap-table-zh-CN.min.js}"></script>
    <script th:fragment="metismenu">
        $(function () {
            $('#menu').metisMenu();
        })
    </script>
</footer>


</body>
</html>
